
@{
    ViewBag.Title = "Index";
}

<h2>ManagerForum::Index()</h2>

<ul>
    <li> @Html.ActionLink("MRoom1", "MRoom1", "ManagerForum")</li>
    <li> @Html.ActionLink("MRoom2", "MRoom2", "ManagerForum")</li>
    <li> @Html.ActionLink("MRoom3", "MRoom3", "ManagerForum")</li>
    <li> @Html.ActionLink("MRoom4", "MRoom4", "ManagerForum")</li>
</ul>