
@{
    ViewBag.Title = "Index";
}

<h2>EmployeeForum::Index()</h2>

<ul>
    <li> @Html.ActionLink("ERoom1", "ERoom1", "EmployeeForum")</li>
    <li> @Html.ActionLink("ERoom2", "ERoom2", "EmployeeForum")</li>
    <li> @Html.ActionLink("ERoom3", "ERoom3", "EmployeeForum")</li>
    <li> @Html.ActionLink("ERoom4", "ERoom4", "EmployeeForum")</li>
</ul>