
@{
    ViewBag.Title = "Index";
}


<h2>AdminForum::Index()</h2>

<ul>
    <li> @Html.ActionLink("ARoom1", "ARoom1", "AdminForum")</li>
    <li> @Html.ActionLink("ARoom2", "ARoom2", "AdminForum")</li>
    <li> @Html.ActionLink("ARoom3", "ARoom3", "AdminForum")</li>
    <li> @Html.ActionLink("ARoom4", "ARoom4", "AdminForum")</li>
</ul>
